{% include base_path %}

<!-- start custom head snippets -->

<meta name="theme-color" content="#ffffff">

<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/assets/images/favicon.ico">

<script type="application/ld+json"> 
{ 
"@context": "http://schema.org",
"@type": "Person",
"name": "Muhammad Haseeb Arshad",
"email": "mailto:haseeb.arshad.ee@gmail.com",
"image": "http://hasyarshad.github.io/images/profile.png",
"jobTitle": "Student",
"name": "Muhammad Haseeb Arshad",
"affiliation": "KFUPM, KSA",
"alumniOf": "KFUPM, KSA",
"birthPlace": "Lahore, Pakistan",
"gender": "male",
"honorificSuffix": "M.Sc.",
"nationality": "Pakistan",
"url": "http://hasyarshad.github.io",
"sameAs" : [
"http://twitter.com/_aurtezhaseeb"] 
} </script>

<!-- end custom head snippets -->
