---
layout: archive
title: "CV"
permalink: /cv/
author_profile: true
---


{% include base_path %}
{% capture written_label %}'None'{% endcapture %}

<u><a style="line-height: 1.5;" href="http://hasyarshad.github.io/haseeb-cv.pdf"><span style="color: #333333;"><span style="font-size: medium;">Also available in PDF format.</span></span></a></u>
<h1 class="western" align="center"><b>Muhammad Haseeb Arshad</b></h1>
<p style="line-height: 1.5;" align="center"><span style="font-size: medium;"><b>Curriculum Vitae</b> </span></p>
<p style="line-height: 1.5;" align="center"><span style="font-size: medium;">haseeb.arshad.ee at gmail.com | <a href="http://hasyarshad.github.io/">http://hasyarshad.github.io</a> | <a href="http://www.twitter.com/_haseebarshad">@_haseebarshad</a> | <a href="http://is.gd/geiger_cites">Google Scholar</a></span></p>

<h2 class="western">Education:</h2>
<ul style="line-height: 1.5; margin: 10px 0;">
 	<li><span style="font-size: medium;"><b>M.Sc., </b></span><strong><span style="font-size: medium;"><b>Electrical Engineering with Specialiazation in Control Systems</b></span></strong><span style="font-size: medium;"><b>, King Fahd University of Petroleum & Minerals</b></span>
<ul>
 	<li><strong><span style="font-size: medium;"><b>Date:</b></span></strong><span style="font-size: medium;"> January 2018</span></li>
  <li><b><span style="font-size: medium;">Graduate Thesis:</b></span><span style="font-size: medium;"> robots.txt: Intelligent Model Predictive Torque Control of Induction Motor</span></li>
 	<li><span style="font-size: medium;"><b>Advisor:</b></span><span style="font-size: medium;"> Prof. Dr. Mohammed Ali Abido</span></li>
</ul>
</li>
</ul>
<ul style="line-height: 1.5; margin: 10px 0;">
 	<li><span style="font-size: medium;"><b>M.Sc., Electrical Engineering</b>, <b>University of Engineering & Technology</b></span>
<ul>
 	<li><strong><span style="font-size: medium;"><b>Date:</b></span></strong><span style="font-size: medium;"> June 2017</span></li>
 	<li><span style="font-size: medium;"><b>Master’s Thesis</b>: An Advanced Direct Torque Control of Two Phase Symmertrical Induction Motor fed with B4 Inverter</li</span>
 	<li><span style="font-size: medium;"><b>Advisor: </b>Prof.</span><span style="font-size: medium;"> Khalid Mehmood-ul-Hassan</span></li>
</ul>
</li>
</ul>
<ul style="line-height: 1.5; margin: 10px 0;">
 	<li><span style="font-size: medium;"><b>B.Sc., Electrical Engineering,</b> <b>University of the Punjab</b></span>
<ul>
 	<li><strong><span style="font-size: medium;"><b>Date: </b></span></strong><span style="font-size: medium;">May 2007</span></li>
  <li><span style="font-size: medium;"><b>Senior Thesis</b>: Lifelike Behavior based Wandering Autonomous Robot</li></span>
 	<li><span style="font-size: medium;"><b>Advisor:</b></span><span style="font-size: medium;"> Engr. Hafiz Muhammad Saeed</span></li>
</ul>
</li>
</ul>
<h2>Employment</h2>
<ul style="line-height: 1.5; margin: 10px 0;">
  <li><span style="font-size: medium;"><b>Staff Ethnographer</b>, UC-Berkeley Institute for Data Science (Jan 2016 to present)</span></li>
  <li><span style="font-size: medium;"><b>Research Intern</b>, Wikimedia Foundation (May to August 2011)</span></li>
  <li><span style="font-size: medium;"><b>Research Associate</b>, Georgetown University, Communication, Culture, and Technology Program (May 2009 to August 2010)</span></li>
</ul>
<h2>Summary of Scholarly Impact</h2>
<ul style="line-height: 1.5; margin: 10px 0;">

  <li><span style="font-size: medium;"><b>Publications:</b> 22 publications with over 1,150 total citations, h-index of 15 (Google Scholar)</li>
  <li><span style="font-size: medium;"><b>Presentations:</b> Over 50 talks, including 7 invited talks and 2 conference keynotes</li>
  <li><span style="font-size: medium;"><b>Industry:</b> Scholarship has directly led to new initiatives and redesigned products at Wikimedia</li>
</ul>
<h2>Publications</h2>
  <ul>{% for post in site.articles reversed %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>

<h2>Talks</h2>
  <ul>{% for post in site.talks reversed %}
    {% unless post.talk_type == "Conference proceedings talk" %}
      {% include archive-single-talk-cv.html %}
    {% endunless %}
  {% endfor %}</ul>

<h2>Teaching</h2>
  <ul>{% for post in site.teaching reversed %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>

<h2 class="western">Research Interests and Skills:</h2>
<ul style="line-height: 1.5; margin: 10px 0;">
 	<li><span style="font-size: medium;"><b>Topical:</b> collaboration, socialization, literacy, and governance in distributed, decentralized communities, specifically new/social media platforms and scientific research networks</span></li>
 	<li><span style="font-size: medium;"><b>Disciplinary:</b> social informatics, computer-supported cooperative work (CSCW), science and technology studies (STS), data science studies, critical algorithm studies, media and communication studies, organizational sociology, critical human-computer interaction (HCI)</span></li>
 	<li><span style="font-size: medium;"><b>Theoretical:</b> socio-technical systems, communities of practice, ethnomethodology, symbolic interactionism, distributed cognition, actor-network theory, phenomenology</span></li>
 	<li><span style="font-size: medium;"><b>Methodological:</b></span>
<ul>
 	<li><span style="font-size: medium;">Ethnography, including interviews, focus groups, and participant-observation</span></li>
 	<li><span style="font-size: medium;">Archival analysis, including individual and group-based qualitative coding</span></li>
 	<li><span style="font-size: medium;">Quantitative collection and analysis of log and trace data with Python, SQL, and R</span></li>
 	<li><span style="font-size: medium;">User interface evaluation, including experimental design, A/B testing, and analysis</span></li>
 	<li><span style="font-size: medium;">Inductive, mixed-methodological approaches to answer complex socio-technical questions and problems using all of the above methods, as appropriate and relevant</span></li>
</ul>
</li>
</ul>
